name: Meson Checks CI

on:
  push:
    branches: ['master']
  pull_request:
  workflow_dispatch:

jobs:
  meson_format:
    name: Run Meson Format Checks
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '0'

      - name: Check Files
        uses: Totto16/meson-format-action@v1
        with:
          format-file: ./meson.format
          only-git-files: true
